<div class="modal fade" id="bookModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Booking a Room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <form method="POST">
                    {% csrf_token %}
                    <div class="form-row justify-content-center">
                        {{ book_form }}
                        <button class="check-btn col-auto my-1 py-2 px-4" type="submit">check</button>
                    </div>
                </form> -->
                Hello
            </div>
        </div>
    </div>
</div>