{% extends "index/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="contact-bg container-fluid px-sm-5 pb-4">

    <div class="row contact-wrapper vh-100 justify-content-center align-items-center py-5">
        <div class="col-sm-4 contact-info-wrapper">
            <div class="d-flex align-items-center my-5">
                <span class="material-icons contact-icon">room</span>
                <div class="ml-5 contact-description">
                    <h2>Address</h2>
                    <p>Suryabinayak, Bhaktapur</p>
                </div>
            </div>
            <div class="d-flex align-items-center my-5">
                <span class="material-icons contact-icon">phone</span>
                <div class="ml-5 contact-description">
                    <h2>Phone</h2>
                    <p>+977-9860613xxx, +01-6615xxx</p>
                </div>
            </div>
            <div class="d-flex align-items-center my-5">
                <span class="material-icons contact-icon">markunread_mailbox</span>
                <div class="ml-5 contact-description">
                    <h2>Email</h2>
                    <p>hoteljunkiri1@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 offset-sm-2 contact-form-wrapper d-flex flex-column justify-content-center align-items-center">
            <h2 class="mb-5">Connect With Us?</h2>
            <form method="POST">
                <div class="justify-content-center">
                    {% crispy contact_form %}
                    <button type="submit" class="book-btn rounded w-100 my-2" style="letter-spacing:0;font-size:1rem">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}