{% load static %} 

{% block gallery %}

<div id="gallery-container" class="container-fluid d-flex justify-content-center align-items-center pt-3 pb-5">
  <div class="gallery-img-wrapper gallery-item-1">
    <img class="gallery-img img-fluid" src="{% static 'index/assets/index_images/kitchen.jpg' %}" />
  </div>
  <div class="gallery-img-wrapper gallery-item-2">
    <img class="gallery-img img-fluid" src="{% static 'index/assets/index_images/lobby.jpg' %}" />
  </div>
  <div class="gallery-img-wrapper gallery-item-3">
    <img class="gallery-img img-fluid" src="{% static 'index/assets/index_images/pool.jpg' %}" />
  </div>
  <div class="gallery-img-wrapper gallery-item-4">
    <img class="gallery-img img-fluid" src="{% static 'index/assets/index_images/bar-4.jpg' %}" />
  </div>
</div>

<div class="caption-text">
  <h4>junkiri's gallery</h4>
</div>

<script>
    const element = document.getElementById("gallery-container");

    element.addEventListener('mouseover', (e) => {
      e = e || window.event;
      const target = e.target;

      if(target.classList.contains("gallery-img")) {
        target.parentNode.classList.add("active-gallery");
      }
    }, false);
    
    element.addEventListener('mouseout', (e) => {
      e = e || window.event;
      const target = e.target;
      
      if(target.classList.contains("gallery-img")) {
        target.parentNode.classList.remove("active-gallery");
      }
    }, false);
</script>

{% endblock gallery %}
