{% extends "index/base.html" %}
{% load static %}

{% block content %}

{% if messages.submitted %}

    {% include 'book/book-modal.html' %}

    <div class="modal fade" id="checkModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ messages.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                <div class="modal-body">

                    {% if messages.available == "True" %}
                        <p class="mb-3">{{ messages.body | safe}}</p>

                        {% for room in request.session.available_room %}
                            <div class="alert alert-success my-2" role="alert">
                                <a href="#" class="text-success" style="text-decoration:none;">{{ room }}</a>
                            </div>
                        {% endfor %}

                        <div class="w-100 d-flex justify-content-end">
                            <button type="button" class="check-btn my-1 py-2 px-3" data-dismiss="modal" data-toggle="modal" data-target="#bookModal">Book Now</button>
                        </div>
                    {% else %}
                        <div class="alert alert-danger" role="alert">{{ messages.body | safe }}</div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>

    <script>
        $(window).on('load',function(){
            $("#checkModal").modal("show");
        });
    </script>
    
{% endif %}


<div class="background-container container-fluid px-5 py-4">
    <header class="row">
        <div class="col-2 mr-auto"><a href="{% url 'index' %}"><img class="logo" src="{% static 'index/assets/logo_white.png' %}"></a></div>
        <div class="col-2 h-100 d-flex justify-content-end"><img class="menu h-75 align-self-center" src="{% static 'index/assets/menu.svg' %}"></div>
    </header>

    <div class="row hero my-3 justify-content-end align-items-center">
        <div class="col-md-5 hero-text d-flex flex-nowrap flex-column align-items-center">
            <h1 class="nepali-text">घर पछिको घर |</h1>
            <span class="mid-text px-3 my-4">Indoor luxury with the sensation of being at home.</span>
            <button type="button" class="book-btn rounded-pill">Book a Room</button>
        </div>
        <div class="col-md-1 copyright-text d-flex justify-content-between">
            <span class="copyright-name">hotel junkiri</span>
            <span class="copyright-date">2020</span>
        </div>
    </div>

    <nav>
        <ul class="nav-list h-100 d-flex m-0 align-items-end">
            <li class="nav-link"><a href="#">Rooms</a></li>
            <li class="nav-link"><a href="#">Bar</a></li>
            <li class="nav-link"><a href="#">Restaurant</a></li>
        </ul>
    </nav>
</div>


<div class="container-fluid py-4">
    <div class="check-wrapper w-75 py-5 px-4">
        <h3 class="mb-5">check availability</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="form-row justify-content-center">
                {{ availability_form }}
                <button class="check-btn col-auto my-1 py-2 px-4" type="submit">check</button>
            </div>
        </form>
    </div>
</div>


<div class="container-fluid py-4">
    <div class="row">
        <div class="card-info-wrapper col-sm-4 d-flex justify-content-center">
            <div class="card-info py-md-5 ml-md-5">
                <h4 class="mb-5">ROOM & SUITE</h4>
                <p class="mb-0">
                    Don't worry about having a hard time in choosing a perfect room, we provide you with a variety of 
                    rooms and deluxe suites as per your needs.
                </p>
            </div>
        </div>
        <div class="col-sm-8 d-flex align-items-end p-0">
            <div class="owl-carousel">

                {% for room in rooms %}
                    <div class="room-card card border-0">
                        <div class="room-card-image"><img src="{{ room.image.url }}" class="img-fluid"></div>
                        <div class="card-body d-flex flex-column pl-0">
                            <h5 class="card-room-name">{{ room.room_name }}</h5>
                            <span class="card-room-price">${{ room.price }} <span class="text-muted" style="font-size: 0.7rem; font-weight: 400;">/per night</span></span>
                            <span class="card-room-mute text-muted">starting from</span>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

        <script>
            $(".owl-carousel").owlCarousel({
                center:true,
                margin:50,
                items:4,
                nav:false,
                loop: true,
                autoWidth:true,
                // slideTransition: 'linear',
                // autoplay: true,
                // autoplayTimeout: 6000,
                // autoplaySpeed: 6000,
                // autoplayHoverPause: true,
                // smartSpeed: 2500,
                responsiveClass:true,
                responsive:{
                    0:{
                        items:2
                    },
                    600: {
                        items:2
                    },
                    1000: {
                        items:3
                    }
                }
            });
        </script>
    </div>
</div>


<div class="services-container container-fluid">
    <h3 class="sec-header text-center mb-5">our services</h3>
    <div class="services-body row justify-content-around align-items-center mt-2">
        
        {% for service in services %}
            {% if forloop.counter == 4  %} {# foorloop.counter starts at 1, foorloop.counter0 starts at 1 #}
                <div class="w-100"></div>
            {% endif %}
    
            <div class="col-sm-3 mb-5 d-flex justify-content-around align-items-center">
                <div class="service-img-wrapper"><img src="{{ service.image.url }}"></div>
                <span class="w-50">{{ service.service_name }}</span>
            </div>
        {% endfor %}

    </div>
</div>

{% include 'index/gallery.html' %}

<div class="review-container container-fluid">
    <div class="review-bg mx-auto">
        <h3 class="sec-header text-center mb-5">what our customers say?</h3>
    </div>
</div>

{% endblock content %}